USE [master]
GO
/****** Object:  Database [VideoGameDbNormalized]    Script Date: 23/02/2026 8:55:54 p. m. ******/
CREATE DATABASE [VideoGameDbNormalized]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoGameDbNormalized', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VideoGameDbNormalized.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoGameDbNormalized_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VideoGameDbNormalized_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoGameDbNormalized].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoGameDbNormalized]
GO
/****** Object:  Table [dbo].[Developers]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Developers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDetails]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetails](
	[VideoGameId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoGameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platforms]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platforms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoGameId] [int] NULL,
	[ReviewerName] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[Rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoGames]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoGames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[PublisherId] [int] NULL,
	[DeveloperId] [int] NULL,
	[ReleaseDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoGamesPlatforms]    Script Date: 23/02/2026 8:55:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoGamesPlatforms](
	[VideoGameId] [int] NOT NULL,
	[PlatformId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VideoGameId] ASC,
	[PlatformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Developers] ON 

INSERT [dbo].[Developers] ([Id], [Name]) VALUES (1, N'Nintendo EPD')
INSERT [dbo].[Developers] ([Id], [Name]) VALUES (2, N'Rockstar Studios')
INSERT [dbo].[Developers] ([Id], [Name]) VALUES (3, N'CD Projekt Red')
SET IDENTITY_INSERT [dbo].[Developers] OFF
GO
INSERT [dbo].[GameDetails] ([VideoGameId], [Description], [Rating]) VALUES (1, N'An open-world action-adventure game set in a fantasy world.', N'E10+')
INSERT [dbo].[GameDetails] ([VideoGameId], [Description], [Rating]) VALUES (2, N'An action-adventure game set in the American frontier.', N'M')
INSERT [dbo].[GameDetails] ([VideoGameId], [Description], [Rating]) VALUES (3, N'An open-world RPG set in a dark fantasy universe.', N'M')
GO
SET IDENTITY_INSERT [dbo].[Platforms] ON 

INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (1, N'Nintendo Switch')
INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (2, N'PlayStation 4')
INSERT [dbo].[Platforms] ([Id], [Name]) VALUES (3, N'Xbox One')
SET IDENTITY_INSERT [dbo].[Platforms] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Id], [Name]) VALUES (1, N'Nintendo')
INSERT [dbo].[Publishers] ([Id], [Name]) VALUES (2, N'Rockstar Games')
INSERT [dbo].[Publishers] ([Id], [Name]) VALUES (3, N'CD Projekt')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [VideoGameId], [ReviewerName], [Content], [Rating]) VALUES (1, 1, N'Link', N'Amazing gameplay and open world!', 10)
INSERT [dbo].[Reviews] ([Id], [VideoGameId], [ReviewerName], [Content], [Rating]) VALUES (2, 2, N'Arthur Morgan', N'A masterpiece of storytelling and graphics.', 9)
INSERT [dbo].[Reviews] ([Id], [VideoGameId], [ReviewerName], [Content], [Rating]) VALUES (3, 3, N'Geralt of Rivia', N'The best RPG experience I have ever had.', 10)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[VideoGames] ON 

INSERT [dbo].[VideoGames] ([Id], [Title], [PublisherId], [DeveloperId], [ReleaseDate]) VALUES (1, N'The Legend of Zelda: Breath of the Wild', 1, 1, CAST(N'2017-03-03' AS Date))
INSERT [dbo].[VideoGames] ([Id], [Title], [PublisherId], [DeveloperId], [ReleaseDate]) VALUES (2, N'Red Dead Redemption 2', 2, 2, CAST(N'2018-10-26' AS Date))
INSERT [dbo].[VideoGames] ([Id], [Title], [PublisherId], [DeveloperId], [ReleaseDate]) VALUES (3, N'The Witcher 3: Wild Hunt', 3, 3, CAST(N'2015-05-19' AS Date))
SET IDENTITY_INSERT [dbo].[VideoGames] OFF
GO
INSERT [dbo].[VideoGamesPlatforms] ([VideoGameId], [PlatformId]) VALUES (1, 1)
INSERT [dbo].[VideoGamesPlatforms] ([VideoGameId], [PlatformId]) VALUES (2, 2)
INSERT [dbo].[VideoGamesPlatforms] ([VideoGameId], [PlatformId]) VALUES (2, 3)
GO
ALTER TABLE [dbo].[GameDetails]  WITH CHECK ADD FOREIGN KEY([VideoGameId])
REFERENCES [dbo].[VideoGames] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([VideoGameId])
REFERENCES [dbo].[VideoGames] ([Id])
GO
ALTER TABLE [dbo].[VideoGames]  WITH CHECK ADD FOREIGN KEY([DeveloperId])
REFERENCES [dbo].[Developers] ([Id])
GO
ALTER TABLE [dbo].[VideoGames]  WITH CHECK ADD FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[VideoGamesPlatforms]  WITH CHECK ADD FOREIGN KEY([PlatformId])
REFERENCES [dbo].[Platforms] ([Id])
GO
ALTER TABLE [dbo].[VideoGamesPlatforms]  WITH CHECK ADD FOREIGN KEY([VideoGameId])
REFERENCES [dbo].[VideoGames] ([Id])
GO
USE [master]
GO
